@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
html, .pure-g [class*="pure-u"] {
  font-family: "Nunito", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #panel-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header .pure-menu {
  text-align: right;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.l-box {
  padding: 1em;
}
.l-box a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.l-box a:hover {
  text-decoration: underline;
}

@media (min-width: 48em) {
  .l-box {
    padding: 0;
  }
}
