@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
html, .pure-g [class*="pure-u"] {
  font-family: "Nunito", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header .pure-menu {
  text-align: right;
}

section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
