@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
html, .pure-g [class*="pure-u"] {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #panel-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header .pure-menu {
  text-align: right;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

h1 {
  margin-top: 60px;
}

section {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.pure-menu li a {
  padding: 5px;
}

.l-box {
  padding: 1em;
}
.l-box a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.l-box a:hover {
  text-decoration: underline;
}

.pure-img {
  width: 50%;
  height: 50%;
  display: block;
}

@media (min-width: 48em) {
  .pure-img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .l-box {
    padding: 0;
    font-size: 18px;
  }

  section {
    border: none;
  }

  .pure-menu li a {
    padding: 5px 20px;
  }
}
